html,
body {
  padding: 0;
  margin: 0;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-family: 'Noto Serif', serif;
}

/* Home */
.summary{
  cursor: pointer;
  background-color: rgb(248, 248, 248);
}
.summary:hover{
  background-color: rgb(236, 230, 230);
}
.collection__list li {
  padding: 5px 10px;
  cursor: pointer;
}


.main{
  margin: 8px 15px;
  display: flex;
}
.main_container{
  margin-bottom: 30px;
}
.sidebar{
  width: 250px;
  flex-shrink: 0;

}
.hr{
  border-color: gray;
}
.activeLink{
  background-color: rgb(236, 230, 230);
  list-style-type: circle;
  color: rgb(3, 102, 3);
}
.resetBtn{
  border: none;
  background-color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px 15px;
  color: rgb(7, 170, 7);
}
.resetBtn:hover{
  background-color: rgb(236, 230, 230);
}
.mainResetBtn{
  margin: 5px 5px 0px 5px;
  float: right;
}
.summary__item{
  padding: 5px 14px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  margin-left: 5px;
  align-items: center;
}
.summary__item label{
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.summary__item:hover{
  background-color: rgb(236, 230, 230);
}
.hideme
{
    display:none;
    visibility:hidden;
}
.table{
  margin: 10px 0px 0px 10px;
  width: 100%;
  height: 55px;
  /* background-color: rgb(240, 240, 240); */
}
.container {
  max-width: 1200px;
  margin: auto;
  padding: 0px 30px;
}
.main__section{
  width: 100%;
}
.game__items{
  padding-left: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.game__title{
  text-align: center;
  margin-bottom: 10px;
  cursor: pointer;
}
.game__title:hover{
  color: rgb(7, 170, 7);
}
.game__title:active{
  color: rgb(2, 2, 2);
}

.img{
  max-width: 200px;
  min-height: 225px;
}
/* Home */

/* game */

.game{
  display: flex;
  flex-direction: column;
}
.game_wrapper{
  margin: 30px;
}
.description{
  float: right;
}
.game_pic{
  max-width: 500px;
  margin: 0 auto;
}
/* game */

/* Layout */
.link{
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin: 10px;
}
.link:hover{
  color: rgb(32, 115, 238)
}
.header{
  background-color: cadetblue;
  padding: 4px 0px;
}
.footer{
  background-color: cadetblue;
  padding: 1px 0px;
  text-align: center;
  color: #fff;
  margin-top: auto;
}
.wrapper{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Layout */

/* Pagination */
.pagination{
  display: flex;
  justify-content: space-between;
}
.page_item{
  list-style-type: none;
  padding: 4px 10px;
  
}
.pageBtn{
  border: none;
  background-color: #fff;
  cursor: pointer;
}
.pageBtn:hover{
  background-color: #5f9ea0;
  color: #fff;

}
.pageBtn:active{
  color: rgb(7, 170, 7);
}

.activePage{
  background-color: cadetblue;
  color: #fff;
  
}
.pagination_container{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
/* Pagination */

/* About */
.about{
  text-align: center;
}
/* About */